*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #0984E3;
}

.todo-container{
    width:550px;
    height : 600px;
    padding:30px;
    background-color: #F5F7FA;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.8);


}
#header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
#header h1{
    margin-bottom:10px;
    font-weight:700px;
    letter-spacing: -1.5px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.4);
    color:#2F3542
}
#header p{
    font-size:14px;
}
.stat-box{
    margin-top:20px;
    padding:20px 0;
    width:450px;
    height:95px;
    background-color: #4F46E5;
    border:3px solid #f4f4f4;
    border-radius:10px;
    display: flex;
    justify-content: space-evenly;


}
.stat-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:14px;
    color:white;
}

#total, #completed, #pending{
    font-size:25px;
    font-weight:700;
}


.input-box{
    height:50px;
    margin: 10px 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.input-box input {
    height: 45px;           
    width: 370px;           
    padding: 0 15px;   
    margin:30px 0 0 0;
    font-size: 16px;        
    border: 1px solid #ddd;
    border-radius: 12px 0 0 12px; 
}
#add{
    margin-top:30px;
    width:65px;
    height:55px;
    padding: 0 15;
    border: 1px solid #ddd;
    border-radius:10px;
    background-color: #00CEC9;
    cursor:pointer;
    color:white;
}

#add:hover{
    background-color: #00bfa5;
    transform: translateY(-2px);
}
.reminders{
    width:100%;
    height:100px;
    margin-top:10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.reminders button{
    width:90px;
    height:30px;
    border:2px solid #ddd;
    background-color: white;
    cursor:pointer;
    border-radius: 50%;
}

.list{
    width:100%;
    max-height:280px;
    overflow-y: auto;;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-state{
    width:150px;
    margin :10px 0 20px 0;

    opacity:0.4;
}
.list p{
    font-size:14px;
    color:#94A3B8;
    font-weight:500;
}

.task-item{
    width:100%;
    list-style:none;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    margin-bottom:10px;
    border-radius:12px;
    border:1px solid #ddd;


}

.styles{
    opacity:0.6;
    color:gray;
    text-decoration: line-through;


}
.hidden{
    display:none;
}