*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #3D277A;
}

.todo-container{
    width:450px;
    height : 500px;
    padding:30px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;


}
#header{
    text-align: center;
}
.stat-box{
    margin-top:20px;
    padding:20px 0;
    width: 350px;
    border:3px solid #f4f4f4;
    border-radius:10px;
    display: flex;
    justify-content: space-evenly;


}
.stat-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-box{
    height:50px;
    margin: 3px 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.input-box input {
    height: 45px;           /* Modern height */
    width: 250px;           /* Give the input more room */
    padding: 0 15px;        /* Space for the text cursor */
    font-size: 16px;        /* Readable size */
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px; /* Rounds only the left corners */
}
#add{
    width:55px;
    height:45px;
    padding: 0 15
}

.reminders{
    width:100%;
    height:100px;
    margin-top:20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.styles{
    opacity:0.6;
    color:gray;
    text-decoration: line-through;

}